<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.ioud0001.anapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Anapp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
	<icon src="www/img/appicons/cordovaicons_48.png" density="mdpi" />
  <icon src="www/img/appicons/cordovaicons_72.png" density="hdpi" />
  <icon src="www/img/appicons/cordovaicons_96.png" density="xhdpi" />
  <icon src="www/img/appicons/cordovaicons_192.png" density="xxhdpi" />
    <content src="index.html" />
    <access origin="*" />
</widget>
